@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	scroll-behavior: smooth;
}

@font-face{
	font-family: 'intro_script_demomedium';
	src: url('../css/fonts/intro_script/introscriptdemo-medium-webfont.woff2') format('woff2'),
	url('../css/fonts/intro_script/introscriptdemo-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

nav{
	background-color: #41444B;
	display: flex;
	padding-left: 2%;
	position: sticky;
	text-align: right;
	top: 0;
	width: 100%;
}

nav ol{
	display: flex;
	list-style: none;
}

.tabtitle{
	background-color: #41444B;
	color: #ffffff;
	cursor: pointer;
	float: left;
	font-family: intro_script_demomedium;
	font-size: 40px;
	font-weight: bold;
	padding: 3% 3%;
	transition: all 0.3s ease 0s;
	width: 50%;
}

ol .search_box{
	display: flex;
	height: 35px;
	line-height: 35px;
	margin: auto 0;
}

nav .search_box input{
	background: #52575D;
	border: none;
	border-radius: 8px;
	color: #ffffff;
	font-size: 20px;
	height: 100%;
	margin-left: 9%;
	outline: none;
	padding: 0 10px;
	width: 240px;
}

nav .search_box ::placeholder{
	color: #ffffff;
}

.tablink{
	background-color: #41444B;
	border: none;
	color: #ffffff;
	cursor: pointer;
	float: left;
	font-size: 20px;
	outline: none;
	padding: 3% 3%;
	transition: all 0.3s ease 0s;
	width: 50%;
}

.tablink:hover, .tabtitle:hover{
	background-color: #52575D;
	color:#ffffff;
}

.tabcontent{
	color: #000000;
	display: none;
	height: 100%;
	padding: 30px 50px;
}

.tabhome{
	color: #000000;
	padding: 0 0 0 0;
	height: 100%;
}

#Home {background-color: #CABFAB;}
#Artists {background-color: #CABFAB;}
#Artworks {background-color: #CABFAB;}
#Exhibitions {background-color: #CABFAB;}
#Collections {background-color: #CABFAB;}
#Learn {background-color: #CABFAB;}
#Profile {background-color: #CABFAB;}
#About {background-color: #CABFAB;}

section{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.desch img{
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;
}

#sec-2{
	background-color: #CABFAB;
}

.scroll-down{
	background-color: #41444B;
	border-radius: 8px;
	color: #ffffff;
	cursor: pointer;
	font-size: 18px;
	height: 50px;
	left: 50%;
	margin-top: 100px;
	outline: none;
	padding: 15px;
	position: absolute;
	text-align: center;
	text-decoration: none;
	top: 40%;
	transform: translate(-50%, -50%);
	width: 130px;
}

.scroll-down:hover{
	background-color: #eee;
	color: #41444B;
}

.descho{
	padding: 3% 15% 0 15%;
}

.descho h1{
	font-size: 50px;
	text-align: center;
}

.descho p{
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	word-spacing: 2px;
}

.artists{
	background-color: #CABFAB;
	overflow: hidden;
	padding: 2px 0 30px 50px;
	width: 95%;
}

.artists ul{
	margin: 0;
	padding: 0;
}

.artists ul li{
	background-color: #CABFAB;
	border: 8px solid #aec5d8;
	border-color: #ffffff;
	box-shadow: 5px 10px 18px #888888;
	box-sizing: border-box;
	cursor: pointer;
	float: left;
	height: 300px;
	list-style: none;
	margin: 40px 20px 0 40px;
	width: 20%;
}

.artists ul li img{
	height: 83%;
	width: 100%;
}

.artists ul li .title{
	background-color: #ffffff;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 100%;
}

@media screen and (max-width: 1250px){
	.artists ul li{
		margin: 50px;
		width: 40%;
	}
}

.artworks{
	background-color: #CABFAB;
	overflow: hidden;
	padding: 2px 0 0 50px;
}

.artworks ul{
	margin: 0;
	padding: 0;
}

.artworks ul li{
	background-color: #CABFAB;
	border-color: #ffffff;
	box-shadow: 5px 10px 18px #888888;
	box-sizing: border-box;
	cursor: pointer;
	float: left;
	height: 400px;
	list-style: none;
	margin: 40px 20px 80px 40px;
	width: 25%;
}

.artworks ul li img{
	height: 83%;
	width: 100%;
}

.artworks ul li .title{
	background-color: #ffffff;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 100%;
}

@media screen and (max-width: 1250px){
	.artworks ul li{
		width: 40%;
		margin: 50px;
	}
}

.exhibitions{
	background-color: #CABFAB;
	padding: 40px 0 30px 0;
}

.desce{
	background-color: #CABFAB;
	font-family: sans-serif;
	font-size: 1em;
	text-align: center; 
}

.desce th{
	font-size: 2em;
	padding: 13px;
}

.desce img{
	cursor: pointer;
	height: 89%;
	padding: 0 35px 13px 30px;
	width: 95%;
}

.collections{
	background-color: #CABFAB;
	padding: 40px 0 30px 0;
}

.descc{
	background-color: #52575D;
	border-radius: 8px;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 1em;
	text-align: center;
}

.descc th{
	font-size: 2em;
	padding: 13px;
}

.descc img{
	cursor: pointer;
	height: 30%;
	padding: 10% 0 6% 10%;
	width: 100%;
}

.descco{
	background-color: #52575D;
	border-radius: 8px;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 1em;
	text-align: center;
}

.descco th{
	font-size: 2em;
	padding: 13px;
}

.descco img{
	cursor: pointer;
	height: 30%;
	padding: 10% 0 6% 10%;
	width: 100%;
}

.learn{
	align-items: center;
	display: flex;
	padding: 3% 10% 0 10%;
}

.learn img{
	cursor: pointer;
	padding-right: 4%;
}

.learn h2{
	font-size: 50px;
}

.learn p{
	font-size: 20px;
}

.profile{
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 3% 7% 4% 15%;
	width: 90%;
}

.left{
	align-items: center;
	background-color: #52575D;
	border-radius: 8px;
	color: #ffffff;
	display: flex;
	height: 80%;
	justify-content: center;
	padding: 3% 5% 3% 5%;
	width: 100%;
}

.left h2{
	font-size: 30px;
	text-align: center;
}

.left p{
	font-size: 20px;
	line-height: 25px;
	margin: 20px 0;
	text-align: center;
}

.left a{
	background-color: #e9e1da;
	color: #000000;
	display: inline-block;
	letter-spacing: 2px;
	padding: 20px 30px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.left a:hover{
	background-color: #000000;
	color: #ffffff;
}

.right{
	align-items: center;
	background-color: #52575D;
	border-radius: 8px;
	color: #ffffff;
	display: flex;
	height: 80%;
	justify-content: center;
	margin-left: 100px;
	padding: 5% 5% 5% 5%;
	width: 100%;
}

.right h2{
	font-size: 30px;
	text-align: center;
}

.right p{
	font-size: 20px;
	line-height: 25px;
	margin: 20px 0;
	text-align: center;
}

.right a{
	background-color: #e9e1da;
	color: #000000;
	display: inline-block;
	letter-spacing: 2px;
	padding: 20px 30px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.right a:hover{
	background-color: #000000;
	color: #ffffff;
}

.about{
	align-items: center;
	display: flex;
	padding: 3% 10% 0 10%;
}

.about img{
	cursor: pointer;
	padding-right: 4%;
}

.about h2{
	font-size: 50px;
}

.about li{
	font-size: 20px;
}

.about p{
	font-size: 20px;
}

h1{
	font-family: intro_script_demomedium;
}

@media screen and (max-width: 600px) {
	nav{
		display: block;
	}
}

.about-page{
	padding: 20px;
}