@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	scroll-behavior: smooth;
}

@font-face {
	font-family: 'intro_script_demomedium';
	src: url('../css/fonts/intro_script/introscriptdemo-medium-webfont.woff2') format('woff2'),
	url('../css/fonts/intro_script/introscriptdemo-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

nav{
	display: flex;
	width: 100%;
	position: sticky;
	top: 0;
	justify-content: space-between;
	text-align: right;
	padding: .5% 3% .5% 3%;
	background-color: #ffffff;
}

logo .img{
	text-align: left;
}

nav ol{
	display: flex;
	list-style: none;
	margin: auto 0;
}

nav .search_box{
	display: flex;
	margin: auto 0;
	height: 35px;
	line-height: 35px;
}

nav .search_box input{
	border: none;
	outline: none;
	background: #ff6961;
	color: #ffffff;
	height: 100%;
	padding: 0 10px;
	font-size: 20px;
	width: 60%;
	border-radius: 8px;
}

nav .search_box ::placeholder{
	color: #ffffff;
}

.tablink{
	background-color: #ffffff;
	color: #ff6961;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 3% 3%;
	font-size: 20px;
	width: 50%;
	transition: all 0.3s ease 0s;
}

.tablink:hover {
	color:#000000;
}

.tabcontent {
	color: #000000;
	display: none;
	padding: 30px 50px;
	height: 100%;
}

.tabhome {
	color: #000000;
	padding: 30px 20px;
	height: 100%;
}

#Artists {background-color: #ffffff;}
#Artworks {background-color: #ffffff;}
#Exhibitions {background-color: #ffffff;}
#Collections {background-color: #ffffff;}
#Learn {background-color: #ffffff;}
#Profile {background-color: #ffffff;}
#About {background-color: #ffffff;}

section{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.desch img{
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
}

#sec-2{
	background-color: #ffffff;
}

.scroll-down{
	border: none;
	outline: none;
	padding: 15px;
	margin-top: 100px;
	color: #eee;
	font-size: 18px;
	cursor: pointer;
	background: #222;
	height: 50px;
	width: 130px;
	text-align: center;
	text-decoration: none;
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.scroll-down:hover{
	background-color: #eee;
	color: #222;
}

.descho{
	padding: 0 15% 0 15%;
}

.descho h1{
	text-align: center;
	font-size: 50px;
}

.descho p{
	text-align: center;
	font-size: 20px;
	word-spacing: 2px;
	line-height: 30px;
}

.artists{
	width: 95%;
	overflow: hidden;
	background-color: #ffffff;
	padding: 2px 0 30px 50px;
}

.artists ul{
	padding: 0;
	margin: 0;
}

.artists ul li{
	list-style: none;
	float: left;
	width: 20%;
	height: 300px;
	background-color: #bfccd0;
	margin: 40px 20px 0 40px;
	box-sizing: border-box;
	border: 8px solid #aec5d8;
	box-shadow: 5px 10px 18px #888888;
}

.artists ul li img{
	height: 83%;
	width: 100%;
}

.artists ul li:hover{
	opacity: 0.9;
	cursor: pointer;
}

.artists ul li .title{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #ffffff;
	text-align: center;
}

@media screen and (max-width: 1250px){
	.artists ul li{
		width: 40%;
		margin: 50px;
	}
}

.artworks{
	overflow: hidden;
	background-color: #ffffff;
	padding: 2px 0 0 50px;
}

.artworks ul{
	padding: 0;
	margin: 0;
}

.artworks ul li{
	list-style: none;
	float: left;
	width: 25%;
	height: 400px;
	background-color: #bfccd0;
	margin: 40px 20px 80px 40px;
	box-sizing: border-box;
	box-shadow: 5px 10px 18px #888888;
}

.artworks ul li img{
	height: 83%;
	width: 100%;
}

.artworks ul li:hover{
	opacity: 0.9;
	cursor: pointer;
}

.artworks ul li .title{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #ffffff;
	text-align: center;
}

@media screen and (max-width: 1250px){
	.artworks ul li{
		width: 40%;
		margin: 50px;
	}
}

.exhibitions{
	padding: 40px 0 30px 0;
	background-color: #ffffff;
}

.desce{
	font-family: sans-serif;
	font-size: 1em;
	text-align: center; 
	background-color: #ffffff;
}

.desce th{
	font-size: 2em;
	padding: 13px;
}

.desce img{
	padding: 0 35px 13px 30px;
	cursor: pointer;
	height: 89%;
	width: 95%;
}

.collections{
	padding: 40px 0 30px 0;
	background-color: #ffffff;
}

.descc{
	font-family: sans-serif;
	font-size: 1em;
	text-align: center; 
	background-color: #bfcfc7;
}

.descc th{
	font-size: 2em;
	padding: 13px;
}

.descc img{
	padding: 10% 0 6% 10%;
	cursor: pointer;
	height: 30%;
	width: 100%;
}

.descco{
	font-family: sans-serif;
	font-size: 1em;
	text-align: center;
	background-color: #f1d6bc;
}

.descco th{
	font-size: 2em;
	padding: 13px;
}

.descco img{
	padding: 10% 0 6% 10%;
	cursor: pointer;
	height: 30%;
	width: 100%;
}

.learn{
	display: flex;
	align-items: center;
	padding: 3% 10% 0 10%;
}

.learn img{
	padding-right: 4%;
	cursor: pointer;
}

.profile{
	width: 90%;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3% 7% 2% 15%;
}

.left{
	width: 100%;
	height: 80%;
	background-color: #c2acb4;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3% 5% 3% 5%;
	border-radius: 8px;
	color: #000000;
}

.left h2{
	font-size: 40px;
	text-align: center;
}

.left p{
	font-size: 20px;
	margin: 20px 0;
	line-height: 25px;
	text-align: center;
}

.left a{
	text-decoration: none;
	text-transform: uppercase;
	background-color: #e9e1da;
	color: #000000;
	padding: 20px 30px;
	display: inline-block;
	letter-spacing: 2px;
	text-align: center;
}

.left a:hover{
	background-color: #000000;
	color: #ffffff;
}

.right{
	width: 100%;
	height: 80%;
	background-color: #c2acb4;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5% 5% 5% 5%;
	border-radius: 8px;
	color: #000000;
	margin-left: 100px;
}

.right h2{
	font-size: 40px;
	text-align: center;
}

.right p{
	font-size: 20px;
	margin: 20px 0;
	line-height: 25px;
	text-align: center;
}

.right a{
	text-decoration: none;
	text-transform: uppercase;
	background-color: #e9e1da;
	color: #000000;
	padding: 20px 30px;
	display: inline-block;
	letter-spacing: 2px;
	text-align: center;
}

.right a:hover{
	background-color: #000000;
	color: #ffffff;
}

.about{
	display: flex;
	align-items: center;
	padding: 3% 10% 0 10%;
}

.about img{
	padding-right: 4%;
	cursor: pointer;
}

h1{
	font-family: intro_script_demomedium;
}
