*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

nav{
	display: flex;
	width: 100%;
	background: #fcb9aa;
	position: sticky;
	top: 0;
	justify-content: space-between;
	text-align: right;
	padding: 13px 28px;
}

logo .img{
	text-align: left;
}

nav ol{
	display: flex;
	list-style: none;
	margin: auto 0;
}

nav .search_box{
	display: flex;
	margin: auto 0;
	height: 35px;
	line-height: 35px;
}

nav .search_box input{
	border: none;
	outline: none;
	background: #ffffff;
	height: 100%;
	padding: 0 10px;
	font-size: 20px;
	width: 350px;
}

*{box-sizing: border-box}

body, html{
	height: 100%;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

.tablink{
	background-color: #fcb9aa;
	color: #000000;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 20px;
	width: 50%;
}

.tablink:hover {
	text-transform: uppercase;
	background-color: #ffdbbe;
}

.tabcontent {
	color: #000000;
	display: none;
	padding: 30px 20px;
	height: 100%;
}

#Artists {background-color: #ffffff;}
#Artworks {background-color: #ffffff;}
#Exhibitions {background-color: #ffffff;}
#Collections {background-color: #ffffff;}
#Profile {background-color: #ffffff;}
#About {background-color: #ffffff;}

.artworks{
	padding: 35px 0 30px 0;
	background-color: #ffffff;
}

.descw{
	font-family: sans-serif;
	font-size: 1em;
	text-align: center; 
	background-color: #ffffff;
}

.descw img{
	padding: 0 35px 13px 30px;
	cursor: pointer;
}

.descwo{
	font-family: sans-serif;
	font-size: 1em;
	text-align: center; 
	background-color: #ffffff;
}

.descwo img{
	padding: 0 25px 13px 20px;
	cursor: pointer;
}

.descwor{
	font-family: sans-serif;
	font-size: 1em;
	text-align: center; 
	background-color: #ffffff;
}

.descwor img{
	padding: 0 15px 13px 20px;
	cursor: pointer;
}

.exhibitions{
	padding: 40px 0 30px 0;
	background-color: #ffffff;
}

.desce{
	font-family: sans-serif;
	font-size: 1em;
	text-align: center; 
	background-color: #ffffff;
}

.desce th{
	font-size: 2em;
	padding: 13px;
}

.desce img{
	padding: 0 35px 13px 30px;
	cursor: pointer;
}

.collections{
	padding: 40px 0 30px 0;
	background-color: #ffffff;
}

.descc{
	font-family: sans-serif;
	font-size: 1em;
	text-align: center; 
	background-color: #bfcfc7;
}

.descc th{
	font-size: 2em;
	padding: 13px;
}

.descc img{
	padding: 30px 10px 13px 14px;
	cursor: pointer;
}

.descco{
	font-family: sans-serif;
	font-size: 1em;
	text-align: center;
	background-color: #f1d6bc;
}

.descco th{
	font-size: 2em;
	padding: 13px;
}

.descco img{
	padding: 30px 5px 13px 14px;
	cursor: pointer;
}

.desccol{
	font-family: sans-serif;
	font-size: 1em;
	text-align: center;
	background-color: #bfccd0;
}

.desccol th{
	font-size: 2em;
	padding: 13px;
}

.desccol td{
	padding: 5px 0 5px 0;
}

.desccol img{
	padding: 30px 7px 13px 16px;
	cursor: pointer;
}
